/**
 * z-index
 */

// base
$zindex-first: 10;
$zindex-second: 20;
$zindex-third: 30;
$zindex-fourth: 40;

// common
$zindex-navbar: 1000;
$zindex-dropdown: 1010;
$zindex-tooltip: 1020;
$zindex-fixed: 3000;
$zindex-overlay: 9080;
$zindex-modal: 9090;

// based on project
$zindex-header: 1005;
